body{
	 padding-top: 0px;

}
.conExtra{
	
	margin-left: 100px;
	margin-right: 100px;
	width: 80%;

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

#header_style{
	background: #ED3237; 
	height:200px:; 
	-webkit-box-shadow: rgba(110, 110, 110, .50) -2px 2px 0px; 
	border: 0px
}

.text-content{
	color: white;
}
div{
	display: block;
}
span{
	color: red;
}
label{
	text-align: left;
	margin-left: 0;
}