                                                                                                                                                                                                                              #label1{
	margin-right: 30px;
}
#label2{
	margin-right: 30px;
	margin-left: 100px;
}
tr {
	line-height: 40px;
}
tr input{
	
}
table{
	
	margin-bottom: 50px;
}
